---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/index/Hero.astro';
import Services from '../sections/index/Services.astro';
---

<Layout title="Home">
	<Hero />
	<div class="px-2 md:px-6">
		<Services />
	</div>
</Layout>
